/* General Styles
   ------------------------------------------ */

body {
  font-family: "source-sans-pro", sans-serif;
  background-color: #2F3938;
}

h1 {
  font-size: 9.4rem;
}

h2 {
  font-weight: 700;
  font-size: 7.2rem;
}

h4, h5 {
  font-family: "ff-tisa-web-pro",serif;
}

h4 {
  font-size: 2.4rem;
  letter-spacing: 0rem;
}

h5 {
  font-size: 1.8rem;
  letter-spacing: 0rem;
  color: #2F3938;
  text-align: left;
}






/* Sections
   ------------------------------------------ */

section {
  padding: 60px 0;
}

.features {
  text-align: center;
  padding: 40px 0;
  font-size: 16px;
}


/* Hero */

.hero {
  padding: 300px 0 250px 0;
}

.building-better {
  background: url('../images/Hero-19.svg') no-repeat 0 0, center;
  background-size: 100% auto;
  padding-bottom: 8.96%; /* Keeps aspect ratio. e.g. Original img ratio: 980x150. 150/980*100=15.3% */
  width: 100%;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

.tagline {
  color: #01FEAE;
  margin-left: 0%;
}

/* What We Do */

.what-we {
  background-color: #26CF92;
  text-align: center;
}

.title {
  color: #FEFEFE;
}

.what-we-row {
  padding-top: 150px;
}

.focus {
  background: url('../images/Focus-21.svg') no-repeat 0 0, center;
  background-size: 100% auto;
  padding-bottom: 40.23%; /* Keeps aspect ratio. e.g. Original img ratio: 980x150. 150/980*100=15.3% */
  width: 100%;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

.gap {
  background: url('../images/Gap-22.svg') no-repeat 0 0, center;
  background-size: 100% auto;
  padding-bottom: 40.23%; /* Keeps aspect ratio. e.g. Original img ratio: 980x150. 150/980*100=15.3% */
  width: 100%;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

.risk {
  background: url('../images/Risk-23.svg') no-repeat 0 0, center;
  background-size: 100% auto;
  padding-bottom: 40.23%; /* Keeps aspect ratio. e.g. Original img ratio: 980x150. 150/980*100=15.3% */
  width: 100%;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
}
