/* General Styles
   ------------------------------------------ */

body {
  font-family: "source-sans-pro", sans-serif;
  background-color: #2F3938;

}

h4, h5 {
  font-family: "ff-tisa-web-pro",serif;

}


/* Sections
   ------------------------------------------ */

section {
  padding: 60px 0;
}

.features {
  text-align: center;
  padding: 40px 0;
  font-size: 16px;
}


/* Hero */

.hero {
  padding: 350px 0 250px 0;
}

.building-better {
  background: url('../images/Hero-19.svg') no-repeat 0 0, center;
  background-size: 100% auto;
  padding-bottom: 8.96%; /* Keeps aspect ratio. e.g. Original img ratio: 980x150. 150/980*100=15.3% */
  width: 100%;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  white-space: nowrap;
  overflow: hidden;
}

.tagline {
  color: #01FEAE;
}
